button.navbar-toggle {
    background: #EEEEEE;
}
button.navbar-toggle .icon-bar {
    background: #333;
    border-radius: 1px;
    display: block;
    width: 22px;
    height: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

nav.navbar-redrock {
    left: 50%;
    margin-left: -384px;
    background: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    top: 0px;
}
nav.navbar a.navbar-brand {
    color: #000000;
    font-size: 20px;
}
nav.navbar a.navbar-brand p {
    position: absolute;
    top: 27px;
    left: 80px;
}

ul.nav {
    background: #FFFFFF;
}
ul.nav a {
    color: #000000;
    padding-left: 13px;
    padding-right: 13px;
}
ul.nav li.active {
    background: #EEEEEE;
}

/* Styling specific to screen size */
/* Mobile screens */
@media screen and (max-width: 768px) {
    .desktop-logo {
        display: none;
    }
    .mobile-logo {
        margin-top: -10px;
        display: block;
    }

    nav.navbar-fixed-top {
        background: #FFFFFF;
        height: 54px;
    }
    nav.navbar-redrock {
        left: 0px;
        margin-left: 0px;
        height: 54px;
    }
}

/* Desktop screens */
@media screen and (min-width: 768px) {
    div#navbar-mobile{
        position: absolute;
        left: 253px;
        top: 69px;
    }

    desktop-logo {
        display: block;
    }
    .mobile-logo {
        display: none;
    }

    nav.navbar-fixed-top {
        background: #FFFFFF;
        height: 120px;
    }
    nav.navbar-redrock {
        height: 120px;
    }
}
