button.navbar-toggle {
    background: #EEEEEE;
}
button.navbar-toggle .icon-bar {
    background: #333;
    border-radius: 1px;
    display: block;
    width: 22px;
    height: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

div.lnk-wrapper {
    display: block;
    height: 17px;
    overflow: hidden;
}

nav.navbar-redrock {
    left: 50%;
    margin-left: -384px;
    background: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    top: 0px;
}
nav.navbar a.navbar-brand {
    color: #000000;
    font-size: 20px;
}
nav.navbar a.navbar-brand p {
    position: absolute;
    top: 27px;
    left: 80px;
}

ul.links {
    list-style-type: none;
    padding: 0px;
}
ul.nav {
    background: #FFFFFF;
}
ul.nav a {
    color: #000000;
    padding-top: 17px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 16px;
}

/* Styling specific to screen size */
/* Mobile screens */
@media screen and (max-width: 767px) {
    .desktop-logo {
        display: none;
    }
    .mobile-logo {
        margin-top: -10px;
        display: block;
    }

    div.navbar-collapse {
        position: absolute;
        width: 100%;
        top: 44px;
    }

    nav.navbar-fixed-top {
        background: #FFFFFF;
        height: 54px;
    }
    nav.navbar-redrock {
        left: 0px;
        margin-left: 0px;
        height: 54px;
    }

    /* Active link color needs to be darker to be more clear on mobile */
    ul.nav li.active {
        background: #DDDDDD;
    }
    ul.nav a:hover {
        background: #DDDDDD;
    }
}

/* Desktop screens */
@media screen and (min-width: 768px) {
    a.header-lnk:hover span.regular {
        -webkit-transform: translate(0px,-16px);
        -moz-transform: translate(0px,-16px);
        -o-transform: translate(0px,-16px);
        -ms-transform: translate(0px,-16px);
        transform: translate(0px,-16px);
    }
    a.header-lnk:hover span.highlight {
        -webkit-transform: translate(0px,-14px);
        -moz-transform: translate(0px,-14px);
        -o-transform: translate(0px,-14px);
        -ms-transform: translate(0px,-14px);
        transform: translate(0px,-14px);
    }

    div#navbar-mobile{
        position: absolute;
        left: 250px;
        top: 69px;
    }

    .desktop-logo {
        display: block;
    }
    .mobile-logo {
        display: none;
    }

    nav.navbar-fixed-top {
        background: #FFFFFF;
        height: 120px;
    }
    nav.navbar-redrock {
        height: 120px;
    }

    span.highlight {
        float: left;
        color: #C34816;
        margin-top: -5px;
        -webkit-transition: .1s linear;
        -moz-transition: .1s linear;
        -o-transition: .1s linear;
        transition: .1s linear;
    }
    span.regular {
        float: left;
        margin-top: -3px;
        -webkit-transition: .1s linear;
        -moz-transition: .1s linear;
        -o-transition: .1s linear;
        transition: .1s linear;
    }

    ul.nav a:hover {
        background: #FFFFFF;
    }
    ul.nav a.active:hover {
        background: #EEEEEE;
    }
    ul.nav li.active {
        background: #EEEEEE;
    }
}
