/* Styling specific to screen size */
/* Mobile screens */
@media screen and (max-width: 767px) {
    div#content-wrapper {
        position: absolute;
        top: 60px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100% - 50px;
        font-family: 'Source Sans Pro', sans-serif;
    }
}

/* Desktop screens */
@media screen and (min-width: 768px) {
    div#content-wrapper {
        position: absolute;
        top: 130px;
        padding-left: 17px;
        padding-right: 17px;
        width: 768px;
        font-family: 'Source Sans Pro', sans-serif;
    }
}